{{!< layout/default }}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Blasting Off With Bootstrap</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>The Fastest Way to Space</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <button type='button'>Take the Tour</button>
      <button type='button'>Book Tickets Now</button>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <img src="images/projects.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Book Today!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-md-4">
      <h3>Go Anywhere</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
    <div class="col-md-4">
      <h3>RocketBus&reg;</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>
</div>
